**/.sass-cache
**/maps/
**/.vscode/
**/*.map
**/.git/
**/*.log
**/log/
**/note.txt
**/package-lock.json
**/cache
**/public/uploads/

# Dependency directories
**/node_modules/

# Folder uploads
**/wp-content/uploads/

**/pattern-lab/


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
